@mixin link-animation() { 
	//link animation 
	&:after { 
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 0%;
		height: 1px;
		content: '';
		background: rgba(#fff,.5);
		-webkit-transition: width 0.3s ease;
		transition: width 0.3s ease;	
	}
	&:hover:after { 
		width:100%;
		-webkit-transition: width 0.3s ease;
		transition: width 0.3s ease;	
	}
	&.active:hover:after, 
	&.getting-started-button:hover:after { 
		width:0%;
	}
}