@mixin link-animation() { 
	//link animation 
	a:after { 
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 0%;
		height: 1px;
		content: '';
		background: rgba(#fff,.5);
	}
	a:hover:after { 
		width:100%;
		-webkit-transition: width 0.4s ease;
		transition: width 0.4s ease;	
	}
	a.active:hover:after, 
	a.getting-started-button:hover:after { 
		width:0%;
	}
}