.content-section.additional-resources { 
	@media #{$medium-only} { 
		margin-top:0; 
		margin-bottom:$column-gutter;
	}
	@media #{$small-only} { 
		margin-top:0; 
		margin-bottom:$column-gutter;
	}	
	@media #{$large-up} { 
		margin-top:$column-gutter*3; 
		margin-bottom:$column-gutter*3;
	}
}
.additional-resources-container { 
	@include panel; 
	.lead { 
		margin-bottom:0; 
	}
}