
// 3. Benefits
.content-section.benefits { 
	padding-top:$column-gutter*3; 
	padding-bottom:$column-gutter*3;
	text-align:center;
	.points-for-benefits-content { margin-bottom:$column-gutter*1.5; }
	.points-for-benefits-content.last { margin-bottom:0; } 
	.button { 
		margin-top:$column-gutter; 
	}
}