.button { 
	font-weight: 500;
	border-radius:$global-radius; 
	-webkit-border-radius:$global-radius;
}
.button:hover { 
	color:$primary-color;
}
.button.secondary { 
	color:tint($secondary-color,50%);
	background-color: transparent; 
}
.button.secondary:hover { 
	color:tint($secondary-color,40%);
}
.inverted-button { 
	font-weight:300;
	color:tint($primary-color,90%);
	border-color:rgba(#fff,.8) !important;
	background: transparent;
	&:hover { 
		color:tint($primary-color,100%);
		border-color:rgba(#fff,.9) !important;
		background-color:rgba(#fff,.15);
	}
	&:active, &.active { 
		color:tint($secondary-color,100%);
		border-color:rgba(#fff,1) !important;		
		background-color:rgba(#fff,.25);
	}
}
.link-button { 
	color:$primary-color;
	&.inverted { 
		color:rgba(#fff,.8); 
		&:hover { 
			color:rgba(#fff,.9);
		}
		&:active { 
			color:rgba(#fff,1);
		}		
	}
	&.secondary { color:tint($secondary-color,50%);	}
	&:after { 
		content: "\2192"; 
		font-size:rem-calc(13);
		position: relative;
	  left: 8px;
	  top: 0px;
	}
	font-weight:500;
	font-size:rem-calc(16);
}
.link-button:hover { 
	color:shade($primary-color,20%);
}
.link-button.secondary:hover { 
	color:tint($secondary-color,40%);
}
.link-button:active { 
	color:shade($primary-color,30%);
}
.link-button.secondary:hover { 
	color:tint($secondary-color,30%);
}
.technologies-link-on-homepage { 
	color:#fff;
}
//Link buttons in the hero units
.hero,
.top-nav {
	.link-button { color:#fff; }
	.link-button:hover { color:tint($primary-color,85%); }
	.link-button:active { color:tint($primary-color,70%); }
}
