.content-section { 
	margin-top:$column-gutter*2; 
	margin-bottom:$column-gutter*2; 
	clear:both;
	@include clearfix();
	h4 { margin-bottom:0; }
}

.page-content { 
	padding-left:$column-gutter; 
}

.topic-point { 
	padding:0 $column-gutter*1.5; 
}

.section-heading-container { 
	@include headings() { text-align: center; }
	.subhead { text-align: center; }	
	margin-bottom:$column-gutter*2;
	.subhead { 
		width:70%; 
		float:none;
		margin:0 auto;
	}
}