// 15. Aerospike Donwloads - Get Started Page
.what-comes-with-client-downloads { 
	list-style:none;
}

// 16. Download Aerospike 

.content-section.download-aerospike { 
	margin-top:0; 
	.section-heading-container { 
		margin-top: $column-gutter*2;
		margin-bottom: $column-gutter*2;
	}
}


