// 6. Events
.content-section.event { 
	padding:$column-gutter*2 0;
	@media #{$large-up} { 
		padding:$column-gutter*4 0; 
	}
	color:#fff; 
	text-align:center; 
	@include headings() { color:#fff !important; }
	.button { margin-bottom:0; }
	.section-heading-container { 
		.section-heading { 
			margin-bottom:$column-gutter/2;
		}
		margin-bottom:$column-gutter/2; 
	}
} 