.hero { 
	width:100%;
  height: 461px;
	$inner-page-hero-height:330px;
  position: relative;
  margin-top: -77px;  
  clear: both;
  @include clearfix();
	background:$primary-color url('../images/home-hero-unit-sm.jpg') no-repeat top center; 
	p,a { text-align:center; }
	@include headings() { 
		text-align:center; 
	}
	.hero-bg-image-container { 
		text-align:center; 
		z-index:3;
	}
	&.short-hero { 
		@media #{$large-up} { 
			height:$inner-page-hero-height/1.5 !important; 
		}
	}
	&.inner-pages { 
		p,a { text-align:center; }
		@include headings() { 
			text-align:center; 
		}
		height:$inner-page-hero-height; 
		background:$primary-color url('../images/technologies-hero-unit-sm.jpg') no-repeat top center; 
		.hero-heading { 
		  margin-top: 119px;
			@media #{$medium-only} { 
				margin-top:156px !important;
			}
			@media #{$large-up} { 
			  margin-top: 197px;
			}
		}
	}
	@media #{$small-only} { 
		text-align:center; 
		.hero-slash-line { display:none; }
		.hero-heading.hero-unit { 
			margin-top:95px; 
			font-size: 28px !important;
			padding-left: 0;
			padding-right: 0;
		}
		.lead.hero-unit { 
		  font-size: rem-calc(14) !important;
		  line-height: rem-calc(18);
		  width: 90%;
		  margin: 0 auto;
		  margin-top: $column-gutter/1.33;
		} 
		.button { 
		  margin-bottom: $column-gutter/3;
		  margin-top: $column-gutter/1.5;
		  font-size: rem-calc(15);
		}
	}	
	@media #{$medium-only} { 
		p,a { text-align:left; }
		@include headings() { 
			text-align:left; 
		}		
		.hero-heading { margin-top: 95px !important; }		
		background: $primary-color url('../images/home-hero-unit-md.jpg') no-repeat top center;
		height:737px; 
		&.inner-pages { 
			height:528px; 			
			background:$primary-color url('../images/technologies-hero-unit-md.jpg') no-repeat top center; 
		}		
	}	
	@media #{$large-up} { 
		p,a { text-align:left; }
		@include headings() { 
			text-align:left; 
		}				
		background: $primary-color url('../images/home-hero-unit-lg.jpg') no-repeat top center;
		height:902px; 
		&.inner-pages { 
			height:646px; 
			background:$primary-color url('../images/technologies-hero-unit-lg.jpg') no-repeat top center; 
		}		
	}	
	.hero-mask { 
		position: absolute;
		bottom:-2px; //to adjust for browser resize nosense
		width:100%;
	  z-index: 1;
	  left:0;
	}
	.hero-slash-line { 
	  position: absolute;
	  left: 50%;
	  z-index: -1;
    margin-left: -86px;
	}
	.hero-heading { 
	  margin-top: 155px;
	}
	p { color:#fff; }
	.lead { 
	  color: #fff;
	  margin-top: 30px;
	  font-size: 22px;
	  line-height: 30px;		
	}
}