.tabs { 
	&.aerospike-support { 
	  width: 50%;
	  margin: 0 auto;		
		.tab-title { 
			text-align:center;
			@include equal-width-containers(2); 
		}
	}
	.tab-title { 
		text-align:center;
		@include equal-width-containers(4); 
	}
	.tab-title { 
		@include headings() { 
			font-weight: 500;
			margin-bottom:0; 
		}
		.lead { 
			color:tint($secondary-color,50%);
		}
		a { 
			// padding-left:0 !important; 
		}
	}

	.tab-title.active,
	.tab-title.active:hover { 
		border-bottom: none;
	} 
	.tab-title:hover { 
		a { 
			@include headings() { 
				color:tint($secondary-color,50%);
			}
		}
		border-bottom: none;
	}
	.tab-title:active { 
		a { 
			@include headings() { 
				color:$primary-color;
			}
		}
		border-bottom: none;
	}
	.tab-title.active a { 
		@include headings() { 
			color:$primary-color;
		}
	}
}

.tabs-content { 
  border: 2px solid tint($secondary-color,75%);
	.content-container { 
		padding:$column-gutter $column-gutter*1.5; 
	} 
	.article-heading { 
		margin-bottom:0; 
		line-height: rem-calc(40);
	}
	p,li,.link-button { 
		font-size:rem-calc(18);
	}
}

//Need to debug why this is not working
.tabs .tab-title { 
	position: relative;
}

.tabs .tab-title.active::after { 
	@include triangle(12px, blue, down);
	position: absolute;
	top:0;
	left:0;  
	z-index:1000;
}
