strong { font-weight:600; }
blockquote { 
	position: relative;
	&:before { 
		position: absolute; 
	  top: -($column-gutter);
		left:0;
		content: "\201C"; 
		font-size:rem-calc(72);
		font-family: "Georgia", serif;
	}
}
.hero-heading { 
  font-size: rem-calc(24);
  line-height: rem-calc(32);
	color:#fff;   
  @media #{$small-only} { 
  	padding:0 $column-gutter; 
  } 	

	@media #{$medium-only} { 
	  font-size: rem-calc(42);
	  line-height: rem-calc(48);
	}
	@media #{$large-up} { 
		font-size:rem-calc(60); 
		line-height: rem-calc(65);
	}
	.metadata { 
		display: block; 
		font-size: 13px;
	  line-height: 30px;
		text-transform: uppercase;
		@media #{$medium-up} { 
			font-size:rem-calc(20);		
			line-height: $column-gutter*2;
		} 
	}	
}
.section-heading { 
	font-weight:500;
  @media #{$small-only} { 
	  font-size: rem-calc(28);
	  line-height: rem-calc(28);
  } 	
	@media #{$medium-up} { 
		font-size:rem-calc(44); 
		line-height: rem-calc(37);
	}
	.metadata { 
		display:block; 
		font-size:rem-calc(14);
		text-transform: uppercase; 
	}
}
.article-heading { 
	font-weight: 500;	
  @media #{$small-only} { 
	  font-size: rem-calc(21);
	  line-height: rem-calc(28);
  } 	
	@media #{$medium-up} { 
		font-size:rem-calc(36); 
		line-height: rem-calc(65);
	}	
}
.sidebar-nav-heading { 
	text-transform: uppercase;
	font-size:rem-calc(14);
	width:100%;
	padding-bottom:$column-gutter/3;
	border-bottom:1px solid tint($secondary-color,75%); 
}
.subhead { 
	color:tint($secondary-color,35%); 
	font-weight: 300;
	font-size:rem-calc(17);
	line-height:rem-calc(21);
	@media #{$medium-up} { 
		font-size:rem-calc(20) !important;
		line-height:rem-calc(26) !important;
	}
}
.lead { 
	font-size:rem-calc(16) !important; 
	font-weight:300; 
	&.large { 
		font-size:rem-calc(16) !important;
		line-height: rem-calc(21);
		@media #{$medium-only} { 
			font-size:rem-calc(18) !important;
			line-height: rem-calc(29);
		}		
		@media #{$large-up} { 
			font-size:rem-calc(19) !important;
			line-height: rem-calc(32);
		}
	}
} 
a.primary { 
	position: relative; 
	color:$primary-color; 
	&:hover { 
		color:scale-color($primary-color, $lightness: -30%);
	}
	&:active { 
		color:scale-color($primary-color, $lightness: -40%);
	}
}




//Apex New Font - Disabled becuase we're temporarily using Titllium New 

// @font-face {
//   font-family: 'Apex New';
//   src: url('../fonts/DINWeb-Light.eot'); 
//   src: url('../fonts/DINWeb-Light.eot?#iefix') format('embedded-opentype'), 
//        url('../fonts/DINWeb-Light.woff') format('woff'), 
//        url('../fonts/DINComp-Light.ttf')  format('truetype');       
//   font-style:   normal;
//   font-weight:  300;
// }

// @font-face {
//   font-family: 'Apex New';
//   src: url('../fonts/DINWeb.eot'); 
//   src: url('../fonts/DINWeb.eot?#iefix') format('embedded-opentype'), 
//        url('../fonts/DINWeb.woff') format('woff'), 
//        url('../fonts/DINComp.ttf')  format('truetype');      
//   font-style:   normal;
//   font-weight:  400;
// }

// @font-face {
//   font-family: 'Apex New';
//   src: url('../fonts/DINWeb-Medium.eot');
//   src: url('../fonts/DINWeb-Medium.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/DINWeb-Medium.woff') format('woff'), 
//        url('../fonts/DINComp-Medium.ttf')  format('truetype');     
//   font-style:   normal;
//   font-weight:  500;
// }

// @font-face {
//   font-family: 'Apex New';
//   src: url('../fonts/DINWeb-Bold.eot'); 
//   src: url('../fonts/DINWeb-Bold.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/DINWeb-Bold.woff') format('woff'),
//        url('../fonts/DINComp-Bold.ttf')  format('truetype');      
//   font-style:   normal;
//   font-weight:  600;
// }

// %apex-light { 
//   font-family: 'Apex New';
//   font-weight: 300;
//   font-style: normal;
// }

// %apex-regular { 
//   font-family: 'Apex New';
//   font-weight: 400;
//   font-style: normal;
// }

// %apex-medium { 
//   font-family: 'Apex New';
//   font-weight: 500;
//   font-style: normal;
// }

// %apex-medium { 
//   font-family: 'Apex New';
//   font-weight: 600;
//   font-style: normal;
// }




