.hero-heading { 
	font-size:rem-calc(60); 
	color:#fff; 
	line-height: 72px;
}
.section-heading { 
	font-size:rem-calc(44); 
	font-weight:500;
	margin-bottom:0;
}
.article-heading { 
	font-size:rem-calc(36); 
}
.subhead { 
	font-size:20px;
	color:#777777; 
	font-weight: 300;
	line-height:26px;
}
strong { font-weight:500; }
.lead { 
	font-size:rem-calc(16) !important; 
	font-weight:300; 
} 